<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crate</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            {% for item in crate %}
            <div class="col-4 mb-4">
                <div class="card trading-card or-quality{{ item.quality_color }} data-glow="{{ item.quality_color }}">
                    <div class="card-body front">
                        <i class="fas fa-rocket"></i>
                    </div>
                    <div class="card-body back">
                        <h3><a href="{{item.wiki_url}}">{{ item.name }}</a></h3>
                        <img src="data:image/png;base64,{{ item.icon }}" alt="Icon" />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
